* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  }
  .topbar{
    background-color: rgba(0,139, 139, 1);
    padding: 10px;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
    margin-left:auto;
    color:white;
  }
  .database-demo a, .main-page a {
    color: white;
  }

  .database-demo{
    margin-right:20px;
  }


  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header a{
    color:#5995DA
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }

  .github,.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-one, .footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.carousel{
  overflow:hidden;
  max-width: 600px;
  position:relative;
}

.carousel .carousel_item, .carousel .carousel_item .hidden{
  display:none;
}

.carousel .carousel_item img{
  width:100%;
  max-width:600px;
  height:auto;
}

.carousel .visible{
  display:block;
}

.carousel_actions{
  display:flex;
  width:385px;
  justify-content: space-between;
  position:absolute;
  top:570px;
  transform:translateY(-100%);
}

.carousel_actions button{
  border-radius: 50px;
  border:10px;
  font-weight:bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}



